.page {
    padding: 1.5rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.ticketList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ticketItem {
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.75rem;
}

.message {
    padding: 1.5rem;
    font-size: 1.5rem;
    background: #F7374F;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.link_box {
    display: flex;
    justify-content: space-between;
}

.link_box a {
    text-decoration: none;
    color: white;
    background-color: #F4CE14;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    
}

.id {
    display: flex;
    align-items: center;
}

.number {
    margin-left: 1rem;
    background-color: #45474B;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    color: #F6F8D5;
}

.description {
    background-color: #379777;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
}