.form_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_group {
    margin: 1rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.radio_group {
    display: flex;
    gap: 1rem;
}

.radio_group label {
    font-weight: normal;
}

.form_group textarea {
    resize: vertical;
    height: 10rem;
    width: 20rem;
}

.form_group input[text] {
    width: 20rem;
}

.btn {
    background-color: #2563eb;
    color: white;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #1e40af;
}